.map {
	position: relative;
}

.clear {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 20px;
	right: 20px;
	z-index: 500;
	background-color: var(--white);
	border: 2px solid var(--divider);
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s ease 0s;
	animation: animate 2s linear infinite;

	&:hover {
		background-color: var(--hover-clear);
	}
}

@keyframes animate {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
