.block {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
	justify-content: space-between;
	align-items: center;
	z-index: 500;
	padding: 10px;
	display: flex;
	border-radius: 5px;
	width: 210px;

	span:first-child {
		font-size: 20px;
		font-weight: 600;
	}

	span:last-child {
		font-size: 28px;
		font-weight: 600;
	}

	.red {
		color: var(--red);
	}

	.yellow {
		color: var(--yellow);
	}

	.green {
		color: var(--green);
	}
}
